@import url("https://fonts.googleapis.com/css?family=Fredoka+One|Roboto&display=swap");

$primary1: hsl(14, 79%, 53%);
$primary2: hsl(36, 84%, 64%);
$primary3: hsl(35, 100%, 97%);
$secondary1: hsl(14, 79%, 54%);
$secondary2: hsl(14, 79%, 98%);
$secondary3: hsl(14, 79%, 99%);

$grey1: hsl(0, 0%, 10%);
$grey3: hsl(0, 0%, 98%);
$grey4: hsl(0, 0%, 100%);
$grey5: hsl(0, 0%, 67%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  &::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  &::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}
html {
  font-size: 1em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

body {
  nav {
    color: red;
    background-color: $grey3 !important;
    box-shadow: 0px 2px 15px $grey5;
    font-family: "Old Standard TT", serif;
    .collapse {
      .navbar-nav {
        text-align: center;
        .nav-item {
          padding-left: 30px;
          color: $grey1 !important;
          .nav-link {
            color: $grey1 !important;
            border-bottom: 2px solid $grey3;
            transition: 1s linear;
            &:hover {
              color: $grey1 !important;
              border-bottom: 2px solid $primary1;
            }
          }
        }
      }
    }
    .navbar-toggler {
      color: $primary1 !important;
      border-color: $primary1 !important;
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='hsl(14, 79%, 53%)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
      }
    }
  }
}



.header_area {
  min-height: 40vh;
  width: 100%;
  background-image: url(../img/headerimg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 25px 0;
  margin-top: 67px;
  .container {
    .col-md-5 {
      .avatar {
        box-shadow: 8px 9px 13px $grey1;
        width: auto;
        height: 32vh;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
      }
      .intro-text {
        display: inline-block;
        h3 {
          background-color: $primary1;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 1px;
          font-weight: bold;
          color: $grey4;
          padding: 5px 30px;
          border-top-left-radius: 20px;
          border-bottom-right-radius: 20px;
          border-bottom-left-radius: 0px;
          width: 115px;
        }
        h1 {
          font-size: 35px;
          color: $grey1;
          text-transform: capitalize;
          font-family: "Fredoka One", cursive;
          font-weight: 700;
        }
        ul {
          li {
            list-style: none;
            margin-bottom: 18px;
            i {
              font-size: 17px;
              color: $primary1;
              margin-right: 10px;
            }
          }
        }
        p {
          a {
            .fab {
              padding: 9px;
              font-size: 15px;
              width: 33px;
              border-radius: 50%;
              text-align: center;
              text-decoration: none;
              margin: 5px 2px;
            }
            .far {
              padding: 9px;
              font-size: 15px;
              width: 33px;
              border-radius: 50%;
              text-align: center;
              text-decoration: none;
              margin: 5px 2px;
            }
            .fa-facebook-square {
              background: #3b5998;
              color: white;
            }
            .fa-twitter-square {
              background: #55acee;
              color: white;
            }
            .fa-envelope {
              background: #dd4b39;
              color: white;
            }
            .fa-linkedin-in {
              background: #007bb5;
              color: white;
            }
          }
        }
      }
    }
  }
}

.technology {
  background-color: $grey4;
  padding-bottom: 30px;
  .container {
    .technology-content {
      padding: 60px 10px 33px 10px;
      .col-lg-12 {
        p {
          margin-bottom: 0;
        }
        div {
          width: 158px;
          height: 3px;
          background-color: $primary1;
          display: block;
          margin: 0 auto;
        }
      }
    }
    .row {
      .technology-content3 {
        padding: 10px;
        border: 1px solid $grey4;
        &:hover {
          transition: 1s ease-in-out;
          box-shadow: -1px 5px 8px $primary1;
          -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
        }
        .technology-para {
          text-align: justify;
          line-height: 25px;
        }
      }
    }
  }
}

.portfolio {
  background-color: $grey4;
  padding-bottom: 30px;
  .container {
    .card-deck {
      .card {
        img.card-img-top {
          height: 300px;
        }
        &:hover {
          img {
            -webkit-transform: scale(1);
            transform: scale(1.1);
            transition: 1s ease;
          }
        }
      }
      .card-deck {
        .card {
          -ms-flex: 0 0 16.6%;
          flex: 0 0 16.6%;
          overflow: hidden;
        }
      }
    }
  }
}

footer {
  .footer-copyright {
    color: $grey4;
    font-size: 14px;
    background-color: $primary1;
  }
}

.contact-form {
  background: $secondary3;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 70%;
  border: 1px solid $primary1;
  .form-control {
    border-radius: 1rem;
  }
  form {
    padding: 14%;
    .row {
      margin-bottom: -7%;
    }
  }
  h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: $secondary1;
  }
  .btnContact {
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: $primary1;
    font-weight: 600;
    color: $grey4;
    cursor: pointer;
    max-width: 200px;
    margin: 0 auto;
    display: block;
  }
  .inline-form {
    width: 49%;
    display: inline-block;
  }
}
.contact-image {
  text-align: center;
  img {
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
  }
}
.placeholderclass {
  &::before {
    width: 100%;
    content: attr(placeholder);
  }
  &:hover {
    &::before {
      width: 0%;
      content: "";
    }
  }
}

@media only screen and (max-width: 767px) {
  .contact-form {
    .inline-form {
      width: 100%;
    }
    form {
      padding: 3%;
    }
    h3 {
      margin-bottom: 5%;
      margin-top: 0;
    }
  }
  .header_area {
    background-position: top right;
    .container {
      .col-md-5 {
        .avatar {
          margin-left: auto !important;
          margin-right: auto !important;
        }
        .intro-text {
          h1 {
            display: inline-block;
            padding: 9px 0;
            font-size: 26px;
            color: $grey1;
            text-transform: capitalize;
            font-family: "Fredoka One", cursive;
            font-weight: 700;
          }
          h3 {
            font-size: 20px !important;
            background-color: transparent;
            font-family: "Fredoka One", cursive;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 1px;
            font-weight: bold;
            color: $primary1;
            padding: 0;
            margin-top: 30px;
          }
          ul {
            li {
              text-shadow: 2px 0px 1px $grey4;
            }
          }
        }
      }
    }
  }
  .contact-image {
    img {
      display: none;
    }
  }
}
